---
export interface Props {
	title: string;
	data: string;
	href: string;
	image: string
}

const { href, title, data, image } = Astro.props;
---

<li>
	<a href={href}>
		<figure>
			<img src={image}>
			<p class="title">{title}</p>
			<p class="date">{data}</p>
		</figure>
	</a>
</li>

<style>
	li {
		list-style-type: none;
	}
	.title {
		margin: 5px 0 10px;
	}
</style>
